<nav class="clearfix navbar navbar-toggleable-xs navbar-inverse fixed-top bg-inverse">
    <div>
        <div class="eks-logo">
        <div  id="ball">
            <i (click)="menyToggle()" class="fa fa-lg fa-eercast text-success" aria-hidden="true"></i>
            </div>
        </div>
        <div class="eks-boks">
            <a routerLink="/" routerLinkActive="active"><span (click)="hideMenyIf()">Ekstremedia Ang 2</span></a>
        </div>
    </div>
</nav>

<div id="eks-meny">
<i style="float: right;" class="fa fa-lg fa-times x-btn" (click)="hideMenyIf()" ></i>
  <h2>Meny</h2>
  <hr>
  <a class="nav-link" routerLink="/" routerLinkActive="active"><span (click)="hideMenyIf()">Home</span></a>
  <a class="nav-link" routerLink="/side2" routerLinkActive="active"><span (click)="hideMenyIf()">Page 2</span> <span class="sr-only">(current)</span></a>
  <a class="nav-link" routerLink="/side3" routerLinkActive="active"><span (click)="hideMenyIf()">Page 3</span></a>

</div>
